:root {
  --border-radius: 12px;

  --brand-blue-: #115D8C;
  --brand-orange-: #F25D27;

  --text-dark: #737380;
  --text-title: #123952;
  --text-texts: #617480;
  --text-complement: #A0ACB3;


  --bg-primary: #FFFFFF;
  --bg-secundary: #DCE2E6;

  --color-delete: #DE3838;
  --color-green: #51B853;
  --color-green-light: #DCF5DD;
  --color-blue-light: #DDE9F0;
  --orange-light: #FFA585;
  --color-yellow-light: #EFB866;
  --color-bg: #F5F8FA;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}