.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 0;
  max-width: 1400px;
  min-height: 100vh;

  margin: 0 auto;
  background-color: var(--color-bg);
}

@media (min-width: 768px) {
  .main {
    padding: 0;
  }
}